################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/schedulling-api/.vs
/src/scheduling-api/.vs
/src/scheduling-api/Adapters/Driving/scheduling-api/obj
/src/scheduling-api/Adapters/Driving/scheduling-api/bin/Debug/net9.0
/src/scheduling-api/Core/Application/scheduling-api.Application/obj
/src/scheduling-api/Core/Domain/scheduling-api.Domain/obj
